<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- <property name="LOG_FILE" value="LogFile" /> -->
  <!-- <property name="FLUENTD_HOST" value="${FLUENTD_HOST:-localhost}" /> -->
  <!-- <property name="FLUENTD_PORT" value="${FLUENTD_PORT:-24224}" /> -->
  <!-- <appender name="FLUENT" class="ch.qos.logback.more.appenders.DataFluentAppender"> Check tag
  and -->
  <!--   <label> -->
  <!--   @NORMAL</label> -->
  <!--   <remoteHost>${FLUENTD_HOST}</remoteHost> -->
  <!--   <port>${FLUENTD_PORT}</port> -->
  <!--   <maxQueueSize> -->
  <!--   20</maxQueueSize> -->
  <!-- </appender> -->
  <appender name="JsonConsole" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <fieldNames>
        <timestamp>timestamp</timestamp>
        <thread>[ignore]</thread>
        <stackTrace>exception</stackTrace>
      </fieldNames>
    </encoder>
  </appender>
  <!-- <appender name="JsonRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender"> -->
  <!--   <file>./src/main/resources/application.log</file> -->
  <!--   <encoder class="net.logstash.logback.encoder.LogstashEncoder"> -->
  <!--     <fieldNames> -->
  <!--       <timestamp>timestamp</timestamp> -->
  <!--       <thread>[ignore]</thread> -->
  <!--       <version>[ignore]</version> -->
  <!--       <stackTrace>exception</stackTrace> -->
  <!--     </fieldNames> -->
  <!--   </encoder> -->
  <!--   <rollingPolicy -->
  <!--     class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> -->
  <!--     <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.gz</fileNamePattern> -->
  <!--     <maxHistory>30</maxHistory> -->
  <!--     <totalSizeCap>3GB</totalSizeCap> -->
  <!--   </rollingPolicy> -->
  <!--   <triggeringPolicy -->
  <!--     class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy"> -->
  <!--     <maxFileSize>3GB</maxFileSize> -->
  <!--   </triggeringPolicy> -->
  <!-- </appender> -->
  <root level="INFO">
    <appender-ref ref="JsonConsole" />
    <!-- <appender-ref ref="JsonRollingFile" /> -->
    <!-- <appender-ref ref="FLUENT" /> -->
  </root>
</configuration>
